@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2463ec;
  --color-secondary: #0f1729;
  --color-accent: #65758b;
}